<div class="center">
  <%= form_for(@team, html: { role: "form"} ) do |f| %>
    <%= f.label :league %>
    <%= f.text_field :league, class: "form-input" %>

    <%= f.label :city %>
    <%= f.text_field :city, class: "form-input" %>

    <%= f.label :park %>
    <%= f.text_field :park, class: "form-input" %>

    <%= f.label :sheet_key %>
    <%= f.text_field :sheet_key, class: "form-input" %>

    <%= f.submit class: "submit-btn" %>
  <% end %>
</div>
