<h1><%= @team.city %> - <%= @team.league %></h1>

<!-- Need a filter by year in team view as it currently shows all data -->

<h3 class="center">Home Runs by visiting teams at <%= "#{@team.sheet_key}" %></h3>
<%= pie_chart @home_games.group(:away_team).sum(:away_homeruns) %>
<h4><%= "#{@team.city} - " "#{@team.league}" %> Home Run Total at Home: <%= @home_games.sum(:home_homeruns) %></h4>
<h4><%= "#{@team.city} - " "#{@team.league}" %> Home Run Total away: <%= @away_games.sum(:away_homeruns) %></h4>

<h4>Total Home Runs by Visiting Teams at <%= "#{@team.sheet_key} - " %> <%= @home_games.sum(:away_homeruns) %></h4>

<h3 class="center"><%= "#{@team.sheet_key} - " "#{@team.league}" %> Home Runs by Park (excluding home)</h3>
<%= pie_chart @away_games.group(:home_team).sum(:away_homeruns) %>
