<h1><%= @team.city %> - <%= @team.league %></h1>

<% if logged_in? %>
  <%= link_to "Edit Team", edit_team_path(@team), class: "nav-link index-links" %>
<% end %>

<!-- Need a filter by year in team view as it currently shows all data -->
<h4 class="center">All Stats Start From Year <%= @first_season %></h4>
<div class="center">
  <h3 class="center">Home Runs By Visiting Teams At <%= "#{@team.sheet_key}" %></h3>
  <%= pie_chart @home_games.group(:away_team).sum(:away_homeruns) %>
  <h4><%= "#{@team.city} - " "#{@team.league}" %> Home Run Total At Home: <%= @home_games.sum(:home_homeruns) %></h4>
  <h4><%= "#{@team.city} - " "#{@team.league}" %> Home Run Total Away: <%= @away_games.sum(:away_homeruns) %></h4>
  <h4>Total Home Runs By Visiting Teams At <%= "#{@team.sheet_key} - " %> <%= @home_games.sum(:away_homeruns) %></h4>
</div>


<h3 class="center"><%= "#{@team.sheet_key} - " "#{@team.league}" %> Home Runs By Park (excluding home)</h3>
<%= pie_chart @away_games.group(:home_team).sum(:away_homeruns) %>

<h3 class="center"><%= "#{@team.sheet_key} - " "#{@team.league}" %> Home Homeruns By Year</h3>
<%= pie_chart @home_games.group(:game_year).sum(:home_homeruns), donut: true %>

<h3 class="center"><%= "#{@team.sheet_key} - " "#{@team.league}" %> Away Homeruns By Year</h3>
<%= pie_chart @away_games.group(:game_year).sum(:away_homeruns), donut: true %>
