<h1 class="center">All Files</h1>

  <h3 class="center">Wrigley Home Run Totals by Away Team</h3>
  <%= pie_chart @games.group(:away_team).sum(:away_homeruns) %>
  <h3 class="center">Cubs Wrigley Home Run Totals by Away Team</h3>
  <%= pie_chart @games.group(:away_team).sum(:home_homeruns) %>

<!-- <% @games.each do |game| %>
<p><%= game.park %></p>
<p>Home Team: <%= game.home_team %></p>
<p>Away Team: <%= game.away_team %></p>
<p>---------------</p>
<% end %> -->
