<p><%= link_to "baseballpie", root_path, class: "home-link" %>
  <% if logged_in? %>
   <%= link_to "Logout", logout_path, method: :delete, class: "nav-link logout" %>
 <% end %>
</p>
<P class="center nav-div">
  <%= link_to "All Seasons", seasons_path, class: "nav-link" %>
  <%= link_to "All Games", games_path, class: "nav-link" %>
  <%= link_to "All Teams", teams_path, class: "nav-link" %>
</p>
  <% if logged_in? %>
  <p class="center"><span class="current-user">Admin Tools for User <%= current_user.username %></span>
  <p class="center nav-div top-margin">
    <%= link_to "Upload", new_game_path, class: "nav-link" %>
    <%= link_to "Create Team", new_team_path, class: "nav-link" %>
    <%= link_to "Create Season", new_season_path, class: "nav-link" %>
  </p>
  <p class="center nav-div top-margin">
    <%= link_to "All Users", users_path, class: "nav-link" %>
  </p>
  <% end %>
